body {
    background-color: pink;
    color: purple;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 50px;
}

h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h3 {
    font-size: 2em; /* Aumentar el tamaño de los subtítulos */
}

button {
    font-size: 1.5em;
    margin: 20px;
    padding: 20px 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: purple;
    color: white;
}

button:hover {
    background-color: darkmagenta;
}

.container {
    width: 90%;
    margin: auto;
}

.product img, .cart-item img {
    max-width: 150px;
    height: auto;
    object-fit: cover;
}

.total, .change {
    font-size: 2.5em; /* Aumentar el tamaño del total y cambio */
    margin-top: 20px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 3em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 1.5em;
    }
    button {
        font-size: 1.2em;
        padding: 15px 30px;
    }
    .product img, .cart-item img {
        max-width: 100px;
    }
    .total, .change {
        font-size: 2em; /* Ajustar el tamaño para pantallas pequeñas */
    }
}
